n8n-workflow/Arabic Editorial AI System.json
{
  "name": "Arabic Editorial AI System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "edit-article",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        -464
      ],
      "id": "5d19cf04-e7e6-4668-9f5b-47d1df4177a7",
      "name": "Webhook1",
      "webhookId": "8d2e3f79-149e-444e-8287-206558e9c5d1"
    },
    {
      "parameters": {
        "jsCode": "const input_text = $json[\"input_text\"] || $json[\"body\"]?.[\"input_text\"] || \"\";\nconst policy_id = $json[\"policy_id\"] || $json[\"body\"]?.[\"policy_id\"] || \"policy1\";\n\nlet prompt = \"\";\n\nif (!input_text.trim()) {\n  return [{\n    prompt: \"โ๏ธ ูู ูุชู ุฅุฏุฎุงู ูุต ูู ุงููุณุชุฎุฏู.\",\n    policy: policy_id\n  }];\n}\n\n// ๐ข Najah Media Policy\nif (policy_id === \"policy1\") {\n  prompt = `\nุฃูุช ูุญุฑุฑ ุตุญูู ูุนูู ููู ุณูุงุณุฉ \"ูุฌุงุญ ููุฏูุง\" ุงูุชุงุจุนุฉ ููุฑูุฒ ุงูุฅุนูุงู ูู ุฌุงูุนุฉ ุงููุฌุงุญ ุงููุทููุฉ.\n\n๐ฏ ุงููุฏู:\nุฅุนุงุฏุฉ ุตูุงุบุฉ ุงููุต ุงูุชุงูู ุจูุบุฉ ุนุฑุจูุฉ ูุตุญู ูุงุถุญุฉุ ุฏูููุฉุ ูุฃูุงุฏูููุฉ. \nุญุงูุธ ุนูู ุงููุนูู ุงูุฃุตูู ุงูุฐู ูุตุฏู ุงููุณุชุฎุฏูุ ุฏูู ุงุฎุชุตุงุฑ ุฃู ุฅุถุงูุฉ ูู ุฎุงุฑุฌ ุงููุต.\n\n๐งฑ ุงูุชุนูููุงุช ุงูุชุญุฑูุฑูุฉ:\n- ุงูุฃุณููุจ ูุฌุจ ุฃู ูููู ุฑุณูููุงุ ููุถูุนููุงุ ุฎุงููุงู ูู ุงููุจุงูุบุฉ.\n- ุงุณุชุฎุฏู ุฌูููุง ูุชุฑุงุจุทุฉ ููุงุถุญุฉ ูุณูุงููุง ุฃูุงุฏููููุง ููุทูููุง.\n- ุงุญุฑุต ุฃู ุชููู ุงูููุฏูุฉ ุฌุฐุงุจุฉ ููุฎุชุตุฑุฉ.\n- ุงุณุชุฎูุต ุงููุนูููุงุช ุงูุฃุณุงุณูุฉ ุจุฏูุฉ ุฏูู ุชุญุฑูู ุงููุนูู.\n\n๐งพ ุฃุนุฏ ุงููุชูุฌุฉ ุจุตูุบุฉ JSON ููุธูุฉ ุชุญุชูู ุงูููุงุชูุญ ุงูุชุงููุฉ ููุท:\n{\n  \"ุงูุชุตููู\": \"\",\n  \"ุงูุนููุงู\": \"\",\n  \"ุงูููุฏูุฉ\": \"\",\n  \"ุงูุชูุงุตูู\": \"\",\n  \"ุงูุฎุงุชูุฉ\": \"\",\n  \"ุงููููุงุช_ุงูููุชุงุญูุฉ\": []\n}\n\nโ๏ธ ุงููุต ุงูุฐู ูุชุจู ุงููุณุชุฎุฏู:\n${input_text}\n\nุฃุฌุจ ููุท ุจุตูุบุฉ JSON ููู ุงูุจููุฉ ุงููุญุฏุฏุฉ ุฃุนูุงูุ ูุงููุฃ ูู ุงูุญููู ุจูุญุชูู ููุงุณุจ ูููุต ุงูุชุงูู ุฏูู ุชุฑู ุฃู ูููุฉ ูุงุฑุบุฉ.\n  `;\n}\n\n// ๐ต Gaza TV policy\nelse if (policy_id === \"policy2\") {\n  prompt = `\nุฃูุช ูุญุฑุฑ ุตุญูู ูุนูู ููู ุณูุงุณุฉ \"ุฅุฐุงุนุฉ ูุชููุฒููู ุบุฒุฉ\".\n\n๐ฏ ุงููุฏู:\nุฅุนุงุฏุฉ ุตูุงุบุฉ ุงููุต ุงูุชุงูู ุจุฃุณููุจ ูุทูู ูุฅูุณุงูู ูุนุจูุฑ ุนู ุงููุงูุน ุงูููุณุทููู ููุณุชุฎุฏู ูุบุฉ ุฅุนูุงููุฉ ูุคุซุฑุฉ.\nูุฌุจ ุฃู ุชุนูุฏ ูุชุงุจุฉ **ููุณ ุงููุต ุฃุฏูุงู**ุ ูููุณ ุฅูุดุงุก ููุถูุน ุฌุฏูุฏุ ุจู ุชุทููุฑ ุตูุงุบุชู ุจูุง ููุงุณุจ ุณูุงุณุฉ ุบุฒุฉ TV.\n\n๐งฑ ุงูุชุนูููุงุช ุงูุชุญุฑูุฑูุฉ:\n- ุงุณุชุฎุฏู ููุฑุฏุงุช ุชุนุจูุฑ ุนู ุงูุงูุชูุงุก ุงููุทูู ูุซู: \"ุงูุงุญุชูุงู ุงูุฅุณุฑุงุฆููู\"ุ \"ุงูููุงููุฉ ุงูููุณุทูููุฉ\"ุ \"ุงูุตููุฏ\".\n- ุฑููุฒ ุนูู ุงูุฌุงูุจ ุงูุฅูุณุงูู ููุฃุญุฏุงุซ ูุฅุจุฑุงุฒ ูุดุงุนุฑ ุงููุฎุฑ ูุงูุงูุชูุงุก.\n- ูุง ุชุบููุฑ ูุนูู ุงููุต ุงูุฃุตูู ุฃู ููุฑุชู ุงูุฃุณุงุณูุฉ.\n- ุงุฌุนู ุงูููุฏูุฉ ุชูููุฏูุฉ ูุงูุนููุงู ูุคุซุฑูุง ูุงูุฎุงุชูุฉ ุชูุฎูุต ุงูุญุฏุซ ุจุนุงุทูุฉ ูุทููุฉ ูุชุฒูุฉ.\n\n๐งพ ุฃุนุฏ ุงููุชูุฌุฉ ุจุตูุบุฉ JSON ููุธูุฉ ุชุญุชูู ุงูููุงุชูุญ ุงูุชุงููุฉ ููุท:\n{\n  \"ุงูุชุตููู\": \"\",\n  \"ุงูุนููุงู\": \"\",\n  \"ุงูููุฏูุฉ\": \"\",\n  \"ุงูุชูุงุตูู\": \"\",\n  \"ุงูุฎุงุชูุฉ\": \"\",\n  \"ุงููููุงุช_ุงูููุชุงุญูุฉ\": []\n}\n\nโ๏ธ ุงููุต ุงูุฐู ูุชุจู ุงููุณุชุฎุฏู:\n${input_text}\n\nุฃุฌุจ ููุท ุจุตูุบุฉ JSON ููู ุงูุจููุฉ ุงููุญุฏุฏุฉ ุฃุนูุงูุ ูุงููุฃ ูู ุงูุญููู ุจูุญุชูู ููุงุณุจ ูููุต ุงูุชุงูู ุฏูู ุชุฑู ุฃู ูููุฉ ูุงุฑุบุฉ.\n  `;\n}\n\n// ๐ฃ Najah News Policy\nelse if (policy_id === \"policy3\") {\n  prompt = `\nุฃูุช ูุญุฑุฑ ุตุญูู ูุนูู ููู ุฃุณููุจ ูููุน \"ุงููุฌุงุญ ุงูุฅุฎุจุงุฑู\".\n\n๐ฏ ุงููุฏู:\nุฅุนุงุฏุฉ ุตูุงุบุฉ ุงููุต ุจุฃุณููุจ ุตุญูู ูููู ูุจุงุดุฑุ ูุนุฑุถ ุงูุฃุญุฏุงุซ ููุง ุญุตูุช ูุนูููุงุ ุฏูู ุฑุฃู ุฃู ุชุฒููู.\nุงุณุชุฎุฏู ูุบุฉ ุฅุฎุจุงุฑูุฉ ูุงุถุญุฉ ูุณุฑุฏ ููุทูู ูุชุณูุณู ุฒููููุง.\n\n๐งฑ ุงูุชุนูููุงุช ุงูุชุญุฑูุฑูุฉ:\n- ุงุณุชุฎุฏู ุฃูุนุงููุง ูู ุงูุฒูู ุงููุงุถู ุงููุฑูุจ (ูุซู: ุฃุนููุ ุฃูุถุญุ ุฃููุฏ).\n- ุงุญุฑุต ุนูู ุฐูุฑ ุงููุตุฏุฑ ุฃู ุงูุฌูุฉ ูู ุจุฏุงูุฉ ุงูุฎุจุฑ.\n- ุงูุชุฒู ุจุงูุฏูุฉ ูุชุฌูุจ ุงูุชุนููู.\n- ุงุฌุนู ุงูุฎุงุชูุฉ ุชูุฎูุต ุงูุญุฏุซ ุฃู ูุชูุฌุชู ุจุงุฎุชุตุงุฑ.\n\n๐งพ ุฃุนุฏ ุงููุชูุฌุฉ ุจุตูุบุฉ JSON ููุธูุฉ ุชุญุชูู ุงูููุงุชูุญ ุงูุชุงููุฉ ููุท:\n{\n  \"ุงูุชุตููู\": \"\",\n  \"ุงูุนููุงู\": \"\",\n  \"ุงูููุฏูุฉ\": \"\",\n  \"ุงูุชูุงุตูู\": \"\",\n  \"ุงูุฎุงุชูุฉ\": \"\",\n  \"ุงููููุงุช_ุงูููุชุงุญูุฉ\": []\n}\n\nโ๏ธ ุงููุต ุงูุฐู ูุชุจู ุงููุณุชุฎุฏู:\n${input_text}\n\nุฃุฌุจ ููุท ุจุตูุบุฉ JSON ููู ุงูุจููุฉ ุงููุญุฏุฏุฉ ุฃุนูุงูุ ูุงููุฃ ูู ุงูุญููู ุจูุญุชูู ููุงุณุจ ูููุต ุงูุชุงูู ุฏูู ุชุฑู ุฃู ูููุฉ ูุงุฑุบุฉ.\n  `;\n}\n\nelse {\n  prompt = `\nุฃุนุฏ ุตูุงุบุฉ ุงููุต ุงูุชุงูู ุจุงูุนุฑุจูุฉ ุงููุตุญู ุจุฃุณููุจ ุตุญูู ููููุ \nุซู ุฃุนุฏ ุงููุชูุฌุฉ ุจููุณ ูููู JSON ุงูุชุงูู:\n{\n  \"ุงูุชุตููู\": \"\",\n  \"ุงูุนููุงู\": \"\",\n  \"ุงูููุฏูุฉ\": \"\",\n  \"ุงูุชูุงุตูู\": \"\",\n  \"ุงูุฎุงุชูุฉ\": \"\",\n  \"ุงููููุงุช_ุงูููุชุงุญูุฉ\": []\n}\n\nุงููุต:\n${input_text}\n\nุฃุฌุจ ููุท ุจุตูุบุฉ JSON ููู ุงูุจููุฉ ุงููุญุฏุฏุฉ ุฃุนูุงูุ ูุงููุฃ ูู ุงูุญููู ุจูุญุชูู ููุงุณุจ ูููุต ุงูุชุงูู ุฏูู ุชุฑู ุฃู ูููุฉ ูุงุฑุบุฉ.\n  `;\n}\n\nreturn [{ prompt, policy: policy_id }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -576
      ],
      "id": "d070ba24-d7a8-4de0-b233-a26d0be980c6",
      "name": "Generate Editorial Prompt"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "openai/chatgpt-4o-latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        -320
      ],
      "id": "ce49b7ae-db50-46fd-84de-678abf2f94d0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tW43RNfR4gxQexFo",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        224,
        -560
      ],
      "id": "d22fcf3c-0bac-4717-b92f-ae1c62cf2c73",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        640,
        -592
      ],
      "id": "34c76a69-a333-49bc-b363-d80c73b3f5cc",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"ุงูุชุตููู\": \"ูุต ูุตูุฑ ูุญุฏุฏ ููุน ุงูุฎุจุฑ\",\n  \"ุงูุนููุงู\": \"ุนููุงู ููุฌุฒ ูุฌุฐุงุจ\",\n  \"ุงูููุฏูุฉ\": \"ููุฑุฉ ูุตูุฑุฉ ุชููุฏ ููููุถูุน\",\n  \"ุงูุชูุงุตูู\": \"ุงูููุฑุฉ ุงูุฃุณุงุณูุฉ ุงูุชู ุชุดุฑุญ ุงูุญุฏุซ\",\n  \"ุงูุฎุงุชูุฉ\": \"ุฎูุงุตุฉ ุฃู ูุชูุฌุฉ ููุทููุฉ ููููุถูุน\",\n  \"ุงููููุงุช_ุงูููุชุงุญูุฉ\": [\"ูููุฉ1\", \"ูููุฉ2\", \"ูููุฉ3\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        512,
        -320
      ],
      "id": "99525d01-7ba2-4454-8d70-abd84fe10f7e",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Generate Editorial Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Editorial Prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "31cdccf2-8097-4c35-88b1-9846549dc506",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d63e20615430c505cc199c9781f593c624422f758b134ca561a2938fe4b243d2"
  },
  "id": "ckVuIw0QQNsYQ4NT",
  "tags": []
}